html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;
}

* {
  font-family: "Share Tech Mono", monospace;
}
h1,
h2,
p {
  text-align: center;
}

header {
  flex-grow: 0;
  flex-basis: 10%;
  flex-flow: column nowrap;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
}

main > * {
  margin: 20px;
}

@media (orientation: portrait) {
  main {
    flex-flow: column nowrap;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  color: #173429;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

section,
aside,
.word,
.matches,
.delete,
.add,
.theme {
  background: none;
  border: 2px solid wheat;
}

.possible * {
  border: 2px solid rgb(192, 255, 255);
  color: rgb(192, 255, 255);
}

.impossible * {
  border: 2px solid #e53a3a;
  color: #e53a3a;
  opacity: 50%;
}

.answered * {
  border: 2px solid #92efbb;
  color: #92efbb;
}

footer {
  flex-basis: 5%;
  text-align: center;
}

section {
  flex-grow: 1;
}

.entry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 2%;
}

.word {
  flex-grow: 1;
  max-width: 80%;
}

.word,
.matches,
.delete,
.add {
  background: none;
  padding: 5px;
}

.matches {
  flex-grow: 0;
  max-width: 5%;
}

.delete {
  flex-grow: 0;
  max-width: 5%;
}

.add {
  margin: auto;
}

aside {
  flex-basis: 30%;
  text-align: center;
}

/* THEMES */

main.f3 {
  background: radial-gradient(#173429, black);
}

main.fnv {
  background: radial-gradient(#4a3c25, black);
}

main.blue {
  background: radial-gradient(#384853, black);
}

main.white {
  background: radial-gradient(#393c34, black);
}

.f3 * {
  color: #92efbb;
}

.fnv * {
  color: #d4a450;
}

.blue * {
  color: #54c2e3;
}

.white * {
  color: #ccebe8;
}

.f3 input:focus,
.f3 select:focus,
.f3 textarea:focus {
  background-color: #92efbb;
}

.fnv input:focus,
.fnv select:focus,
.fnv textarea:focus {
  background-color: #d4a450;
}

.blue input:focus,
.blue select:focus,
.blue textarea:focus {
  background-color: #54c2e3;
}

.white input:focus,
.white select:focus,
.white textarea:focus {
  background-color: #ccebe8;
}

.f3 section,
.f3 aside,
.f3 .word,
.f3 .matches,
.f3 .delete,
.f3 .add,
.f3 .theme {
  border-color: #92efbb;
}

.fnv section,
.fnv aside,
.fnv .word,
.fnv .matches,
.fnv .delete,
.fnv .add,
.fnv .theme {
  border-color: #d4a450;
}

.blue section,
.blue aside,
.blue .word,
.blue .matches,
.blue .delete,
.blue .add,
.blue .theme {
  border-color: #54c2e3;
}

.white section,
.white aside,
.white .word,
.white .matches,
.white .delete,
.white .add,
.white .theme {
  border-color: #ccebe8;
}
